<!DOCTYPE html>
<html style="font-size: 16px;" lang="fr">
      <!-- head  -->
      <% include partials/head.ejs %>
      <!-- end head  -->
      
      <!-- header  -->
      <% include partials/header.ejs %>
      <!-- end header  -->


      <section class="u-black u-clearfix u-section-1" id="carousel_eb1b">
         <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-align-center u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500"> All Thanks To Our Teams Members</h2>
            <div class="u-expanded-width u-layout-grid u-list u-list-1">
               <div class="u-repeater u-repeater-1">
                  <div class="u-align-center u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-style u-custom-item u-list-item u-opacity u-opacity-90 u-repeater-item u-shape-rectangle u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                     <div class="u-container-layout u-similar-container u-valign-top-xs u-container-layout-1">
                        <div alt="" class="u-border-1 u-border-palette-1-base u-image u-image-circle u-image-1" data-image-width="598" data-image-height="598"></div>
                        <h6 class="u-align-center u-text u-text-2">Daniel Ranc</h6>
                        <p class="u-align-center u-text u-text-3"> Supervisor</p>
                     </div>
                  </div>
                  <div class="u-align-center u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-style u-custom-item u-list-item u-opacity u-opacity-90 u-repeater-item u-shape-rectangle u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                     <div class="u-container-layout u-similar-container u-valign-top-xs u-container-layout-2">
                        <div alt="" class="u-border-1 u-border-palette-1-base u-image u-image-circle u-image-2"></div>
                        <h6 class="u-align-center u-text u-text-4"> Slimane Mesbah</h6>
                        <p class="u-align-center u-text u-text-5"> Project Manager</p>
                     </div>
                  </div>
                  <div class="u-align-center u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-style u-custom-item u-list-item u-opacity u-opacity-90 u-repeater-item u-shape-rectangle u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                     <div class="u-container-layout u-similar-container u-valign-top-xs u-container-layout-3">
                        <div alt="" class="u-border-1 u-border-palette-1-base u-image u-image-circle u-image-3"></div>
                        <h6 class="u-align-center u-text u-text-6">PierLouis Pillet</h6>
                        <p class="u-align-center u-text u-text-7"> Cloud Specialist</p>
                     </div>
                  </div>
                  <div class="u-align-center u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-style u-custom-item u-list-item u-opacity u-opacity-90 u-repeater-item u-shape-rectangle u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                     <div class="u-container-layout u-similar-container u-valign-top-xs u-container-layout-4">
                        <div alt="" class="u-border-1 u-border-palette-1-base u-image u-image-circle u-image-4" data-image-width="598" data-image-height="598"></div>
                        <h6 class="u-align-center u-text u-text-8"> Nhan Vinh Quach</h6>
                        <p class="u-align-center u-text u-text-9"> Network Engineer</p>
                     </div>
                  </div>
                  <div class="u-align-center u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-style u-custom-item u-list-item u-opacity u-opacity-90 u-repeater-item u-shape-rectangle u-list-item-5" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                     <div class="u-container-layout u-similar-container u-valign-top-xs u-container-layout-5">
                        <div alt="" class="u-border-1 u-border-palette-1-base u-image u-image-circle u-image-5" data-image-width="626" data-image-height="417"></div>
                        <h6 class="u-align-center u-text u-text-10">Antonin Basquet</h6>
                        <p class="u-align-center u-text u-text-11"> It Coordinator</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
            <!-- footer  -->
            <% include partials/footer.ejs %>
            <!-- end footer  -->
   </body>
</html>
