<!DOCTYPE html>
<html style="font-size: 16px;" lang="fr">

       <!-- head  -->
       <% include partials/head.ejs %>
      <!-- end head  -->

      <!-- header  -->
       <% include partials/header.ejs %>
      <!-- end header  -->

      <section class="u-black u-clearfix u-section-1" id="sec-94ef">
         <div class="u-clearfix u-sheet u-sheet-1">
            <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-32 u-layout-wrap u-layout-wrap-1">
               <div class="u-gutter-0 u-layout">
                  <div class="u-layout-col">
                     <div class="u-size-30">
                        <div class="u-layout-row">
                           <div class="u-container-style u-layout-cell u-opacity u-opacity-0 u-palette-1-base u-radius u-shape-round u-size-20 u-layout-cell-1" data-href="/login" data-target="_blank">
                              <div class="u-border-1 u-border-palette-5-dark-3 u-container-layout u-container-layout-1">
                                 <img class="u-image u-image-default u-preserve-proportions u-image-1" src="https://achermyanin.gallerycdn.vsassets.io/extensions/achermyanin/credentials-viewer/0.0.3/1609867022004/Microsoft.VisualStudio.Services.Icons.Default" alt="" data-image-width="1200" data-image-height="1200">
                                 <p class="u-align-center u-text u-text-1">Visual Studio Code<br>
                                 </p>
                              </div>
                           </div>
                           <div class="u-container-style u-layout-cell u-opacity u-opacity-10 u-palette-1-base u-radius u-shape-round u-size-20 u-layout-cell-2" data-href="0000.gitlab.com" data-target="_blank">
                              <div class="u-border-1 u-border-palette-5-dark-3 u-container-layout u-container-layout-2">
                                 <img class="u-image u-image-default u-preserve-proportions u-image-2" src="images/gitlab.png" alt="" data-image-width="512" data-image-height="512">
                                 <p class="u-align-center u-text u-text-2">GitLab<br>
                                 </p>
                              </div>
                           </div>
                           <div class="u-container-style u-layout-cell u-opacity u-opacity-10 u-palette-1-base u-radius u-shape-round u-size-20 u-layout-cell-3" data-href="0000.matermost.com" data-target="_blank">
                              <div class="u-border-1 u-border-palette-5-dark-3 u-container-layout u-container-layout-3">
                                 <img class="u-image u-image-default u-preserve-proportions u-image-3" src="images/mattermost.png" alt="" data-image-width="300" data-image-height="299">
                                 <p class="u-align-center u-text u-text-3">Mattermost<br>
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="u-size-30">
                        <div class="u-layout-row">
                           <div class="u-container-style u-layout-cell u-opacity u-opacity-10 u-palette-1-base u-radius u-shape-round u-size-20 u-layout-cell-4" data-href="0000.focalboard.com" data-target="_blank">
                              <div class="u-border-1 u-border-palette-5-dark-3 u-container-layout u-container-layout-4">
                                 <img class="u-image u-image-default u-preserve-proportions u-image-4" src="images/focal.png" alt="" data-image-width="1024" data-image-height="1024">
                                 <p class="u-align-center u-text u-text-4">FocalBoard<br>
                                 </p>
                              </div>
                           </div>
                           <div class="u-container-style u-layout-cell u-opacity u-opacity-10 u-palette-1-base u-radius u-shape-round u-size-20 u-layout-cell-5" data-href="Filecloud.com" data-target="_blank">
                              <div class="u-border-1 u-border-palette-5-dark-3 u-container-layout u-container-layout-5">
                                 <img class="u-image u-image-default u-preserve-proportions u-image-5" src="images/cloud.png" alt="" data-image-width="512" data-image-height="512">
                                 <p class="u-align-center u-text u-text-5">FileCloud<br>
                                 </p>
                              </div>
                           </div>
                           <div class="u-container-style u-layout-cell u-opacity u-opacity-10 u-palette-1-base u-radius u-shape-round u-size-20 u-layout-cell-6" data-href="0000.jupyterlab.com" data-target="_blank">
                              <div class="u-border-1 u-border-palette-5-dark-3 u-container-layout u-container-layout-6">
                                 <img class="u-image u-image-default u-preserve-proportions u-image-6" src="images/jupyter.png" alt="" data-image-width="883" data-image-height="1023">
                                 <p class="u-align-center u-text u-text-6">JupyterLab<br>
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
            <!-- footer  -->
            <% include partials/footer.ejs %>
            <!-- end footer  -->
   </body>
</html>
