<header class="u-align-center-sm u-align-center-xs u-black u-clearfix u-header u-header" id="sec-a184">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
       <a href="/home" class="u-image u-logo u-image-1" data-image-width="256" data-image-height="256" title="Accueil">
       <img src="images/eagle.png" class="u-logo-image u-logo-image-1">
       </a>
       <nav class="u-align-left u-menu u-menu-hamburger u-offcanvas u-menu-1">
          <div class="u-custom-menu u-nav-container">
             <ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
                <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-light-3 u-text-hover-palette-1-light-2 u-text-palette-1-light-3" href="/home" style="padding: 10px 20px;">Home</a></li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-light-3 u-text-hover-palette-1-light-2 u-text-palette-1-light-3" href="/services" style="padding: 10px 20px;">Services</a> </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-light-3 u-text-hover-palette-1-light-2 u-text-palette-1-light-3" href="/about" style="padding: 10px 20px;">About</a></li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-light-3 u-text-hover-palette-1-light-2 u-text-palette-1-light-3" href="/team" style="padding: 10px 20px;">Team</a></li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-light-3 u-text-hover-palette-1-light-2 u-text-palette-1-light-3" href="/contact" style="padding: 10px 20px;">Contact</a></li>
                <li class="u-nav-item">
                   <a class="u-button-style u-nav-link u-text-active-palette-1-light-3 u-text-hover-palette-1-light-2 u-text-palette-1-light-3" style="padding: 10px 20px;"><%= name %></a>
                   <div class="u-nav-popup">
                      <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-2">
                        <li class="u-nav-item"><a class="u-button-style u-custom-color-9 u-hover-custom-color-5 u-nav-link u-text-hover-palette-1-light-2" href="/login" >Login</a> </li>
                        <li class="u-nav-item"> <a class="u-button-style u-custom-color-9 u-hover-custom-color-5 u-nav-link u-text-hover-palette-1-light-2" href="/register" >SignUP</a> </li>  
                        <li class="u-nav-item"> <a class="u-button-style u-custom-color-9 u-hover-custom-color-5 u-nav-link u-text-hover-palette-1-light-2" href="#" onclick="logout(event)"  >LogOut</a> </li>                         
                      </ul>
                   </div>
                </li>
             </ul>
          </div>
       </nav>
    </div>
 </header>
