<!DOCTYPE html>
<html style="font-size: 16px;" lang="fr">
      <!-- head  -->
      <% include partials/head.ejs %>
      <!-- end head  -->


      <!-- header  -->
      <% include partials/header.ejs %>
      <!-- end header  -->


      <section class="u-align-center u-black u-clearfix u-section-1" id="sec-4e04">
         <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
            <h2 class="u-text u-text-default u-text-1"> Secure Local Cloud By Fipa </h2>
            <div class="u-border-2 u-border-palette-1-base u-shape u-shape-svg u-text-grey-5 u-shape-1">
               <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 50" style="">
                  <use xlink:href="#svg-78f4"></use>
               </svg>
               <svg class="u-svg-content" viewBox="-1 -1 162 52" x="0px" y="0px" id="svg-78f4" style="enable-background:new 0 0 160 50;">
                  <path d="M133,26.7c-13.9,9.7-25.8,9.7-39.8,0c-9.1-6.3-16.8-6.3-25.9,0c-13.8,9.6-25.1,9.6-38.9,0c-9.2-6.4-15.4-6.4-24.6,0L0,22
                     c11.2-7.8,20.6-8.1,32.2,0c11,7.6,19,8.5,31.3,0c11.6-8.1,22.4-7.7,33.5,0c11.4,8,20.3,8.3,32.2,0c11.6-8.1,19.2-8.1,30.8,0
                     l-3.8,4.7C146.9,20.2,142.3,20.2,133,26.7z M133,10.8c-13.9,9.7-25.8,9.7-39.8,0c-9.1-6.3-16.8-6.3-25.9,0
                     c-13.8,9.6-25.1,9.6-38.9,0c-9.2-6.4-15.4-6.4-24.6,0L0,6.1c11.2-7.8,20.6-8.1,32.2,0c11,7.6,19,8.5,31.3,0C75.1-2,85.9-1.6,97,6.1
                     c11.4,8,20.3,8.3,32.2,0C140.8-2,148.4-2,160,6.1l-3.8,4.7C146.9,4.3,142.3,4.3,133,10.8z M32.2,38c11,7.6,19,8.5,31.3,0
                     c11.6-8.1,22.4-7.7,33.5,0c11.4,8,20.3,8.3,32.2,0c11.6-8.1,19.2-8.1,30.8,0l-3.8,4.7c-9.3-6.5-13.9-6.5-23.3,0
                     c-13.9,9.7-25.8,9.7-39.8,0c-9.1-6.3-16.8-6.3-25.9,0c-13.8,9.6-25.1,9.6-38.9,0c-9.2-6.4-15.4-6.4-24.6,0L0,38
                     C11.2,30.2,20.6,29.9,32.2,38z"></path>
               </svg>
            </div>
            <div class="u-palette-1-base u-shape u-shape-rectangle u-shape-2"></div>
            <img class="u-image u-image-1" src="images/-min-5.jpg">
            <div id="carousel-2a06" data-interval="5000" data-u-ride="carousel" class="u-carousel u-slider u-slider-1">
               <ol class="u-absolute-hcenter u-carousel-indicators u-hidden-xs u-carousel-indicators-1">
                  <li data-u-target="#carousel-2a06" class="u-active u-grey-30 u-shape-circle" data-u-slide-to="0" style="width: 10px; height: 10px;"></li>
                  <li data-u-target="#carousel-2a06" class="u-grey-30 u-shape-circle" data-u-slide-to="1" style="width: 10px; height: 10px;"></li>
               </ol>
               <div class="u-carousel-inner" role="listbox">
                  <div class="u-active u-align-left u-carousel-item u-container-style u-custom-color-1 u-slide u-carousel-item-1">
                     <div class="u-container-layout u-valign-middle u-container-layout-1">
                        <h3 class="u-text u-text-2">Security Is A No Choice</h3>
                        <p class="u-large-text u-text u-text-variant u-text-3">This project allows us not only to have modern storage, chat, development and project management services, but also to have them securely stored on a local server.</p>
                     </div>
                  </div>
                  <div class="u-align-left u-carousel-item u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-slide u-white u-carousel-item-2">
                     <div class="u-container-layout u-valign-middle u-container-layout-2">
                        <h3 class="u-text u-text-4">All in One</h3>
                        <p class="u-large-text u-text u-text-variant u-text-5">All applications are seamlessly interconnected under a single username and password, with data securely stored in a unified storage system. This enhances simplicity and ensures a user-friendly experience for streamlined usage</p>
                     </div>
                  </div>
               </div>
               <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-icon-circle u-text-hover-palette-1-light-1 u-text-palette-1-base u-carousel-control-1" href="#carousel-2a06" role="button" data-u-slide="prev">
                  <span aria-hidden="true">
                     <svg viewBox="0 0 477.175 477.175">
                        <path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                           c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path>
                     </svg>
                  </span>
                  <span class="sr-only">
                     <svg viewBox="0 0 477.175 477.175">
                        <path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                           c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path>
                     </svg>
                  </span>
               </a>
               <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-icon-circle u-text-hover-palette-1-light-1 u-text-palette-1-base u-carousel-control-2" href="#carousel-2a06" role="button" data-u-slide="next">
                  <span aria-hidden="true">
                     <svg viewBox="0 0 477.175 477.175">
                        <path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
                           c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path>
                     </svg>
                  </span>
                  <span class="sr-only">
                     <svg viewBox="0 0 477.175 477.175">
                        <path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
                           c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path>
                     </svg>
                  </span>
               </a>
            </div>
         </div>
      </section>

      <!-- footer  -->
      <% include partials/footer.ejs %>
      <!-- end footer  -->
   </body>
</html>
