<!DOCTYPE html>
<html>

<% include partials/head.ejs %>

<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats -->
    <% include partials/header.ejs %>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Security Is A No Choice
              </h2>
            </div>
            <p>
              This project allows us not only to have modern storage, chat, development and project management services, but also to have them securely stored on a local server. </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="images/about-img.png" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- server section -->

  <section class="server_section">
    <div class="container ">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/server-img.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                All in One
              </h2>
              <p>
                All applications are seamlessly interconnected under a single username and password, with data securely stored in a unified storage system. This enhances simplicity and ensures a user-friendly experience for streamlined usage
              </p>
            </div>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end server section -->

  <!-- info section -->
  <% include partials/info.ejs %>
  <!-- end info section -->


  <!-- footer section -->
  <% include partials/footer.ejs %>
  <!-- footer section -->

  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>


</body>

</html>