<!DOCTYPE html>
<html style="font-size: 16px;" lang="fr">
      <!-- head  -->
      <% include partials/head.ejs %>
      <!-- end head  -->

      <!-- header  -->
      <% include partials/header.ejs %>
      <!-- end header  -->


      <section class="u-black u-clearfix u-section-1" id="sec-94ef">
         <div class="custom-expanded data-layout-selected u-clearfix u-hidden-md u-hidden-sm u-hidden-xs u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
               <div class="u-layout-row">
                  <div class="u-container-style u-layout-cell u-size-5 u-layout-cell-1">
                     <div class="u-container-layout u-container-layout-1">
                        <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1" src="images/gitlab.png" alt="" data-image-width="512" data-image-height="512">
                        <img class="u-image u-image-default u-preserve-proportions u-image-2" src="https://achermyanin.gallerycdn.vsassets.io/extensions/achermyanin/credentials-viewer/0.0.3/1609867022004/Microsoft.VisualStudio.Services.Icons.Default" alt="" data-image-width="1200" data-image-height="1200">
                        <img class="u-image u-image-contain u-image-default u-image-3" src="images/mattermost.png" alt="" data-image-width="300" data-image-height="299">
                        <img class="u-image u-image-contain u-image-default u-image-4" src="images/jupyter.png" alt="" data-image-width="883" data-image-height="1023">
                        <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-5" src="images/focal.png" alt="" data-image-width="1024" data-image-height="1024">
                        <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-6" src="images/cloud.png" alt="" data-image-width="512" data-image-height="512">
                     </div>
                  </div>
                  <div class="u-container-style u-layout-cell u-opacity u-opacity-20 u-palette-1-base u-size-55 u-layout-cell-2">
                     <div class="u-container-layout u-container-layout-2">
                        <div class="custom-expanded u-clearfix u-custom-html u-hidden-lg u-hidden-md u-hidden-sm u-hidden-xs u-custom-html-1">
                           <iframe id="largePC" title="Inline Frame Example" width="100%" height="900" src="https://www.openstreetmap.org/export/embed.ejs?bbox=-0.004017949104309083%2C51.47612752641776%2C0.00030577182769775396%2C51.478569861898606&amp;layer=mapnik"></iframe>
                        </div>
                        <div class="u-clearfix u-custom-html u-hidden-md u-hidden-sm u-hidden-xl u-hidden-xs u-custom-html-2">
                           <style></style>
                           <iframe id="smallPC" title="Inline Frame Example" width="920" height="900" src="https://www.openstreetmap.org/export/embed.ejs?bbox=-0.004017949104309083%2C51.47612752641776%2C0.00030577182769775396%2C51.478569861898606&amp;layer=mapnik"></iframe>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-32 u-hidden-lg u-hidden-xl u-layout-wrap u-layout-wrap-2">
            <div class="u-gutter-0 u-layout">
               <div class="u-layout-col">
                  <div class="u-size-30">
                     <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-opacity u-opacity-0 u-palette-1-base u-radius u-shape-round u-size-20 u-layout-cell-3" data-href="0000.vscode-server.com" data-target="_blank">
                           <div class="u-border-1 u-border-palette-5-dark-3 u-container-layout u-container-layout-3">
                              <img class="u-image u-image-default u-preserve-proportions u-image-7" src="https://achermyanin.gallerycdn.vsassets.io/extensions/achermyanin/credentials-viewer/0.0.3/1609867022004/Microsoft.VisualStudio.Services.Icons.Default" alt="" data-image-width="1200" data-image-height="1200">
                              <p class="u-align-center u-text u-text-1">Visual Studio Code<br>
                              </p>
                           </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-opacity u-opacity-10 u-palette-1-base u-radius u-shape-round u-size-20 u-layout-cell-4" data-href="0000.gitlab.com" data-target="_blank">
                           <div class="u-border-1 u-border-palette-5-dark-3 u-container-layout u-container-layout-4">
                              <img class="u-image u-image-default u-preserve-proportions u-image-8" src="images/gitlab.png" alt="" data-image-width="512" data-image-height="512">
                              <p class="u-align-center u-text u-text-2">GitLab<br>
                              </p>
                           </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-opacity u-opacity-10 u-palette-1-base u-radius u-shape-round u-size-20 u-layout-cell-5" data-href="0000.matermost.com" data-target="_blank">
                           <div class="u-border-1 u-border-palette-5-dark-3 u-container-layout u-container-layout-5">
                              <img class="u-image u-image-default u-preserve-proportions u-image-9" src="images/mattermost.png" alt="" data-image-width="300" data-image-height="299">
                              <p class="u-align-center u-text u-text-3">Mattermost<br>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="u-size-30">
                     <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-opacity u-opacity-10 u-palette-1-base u-radius u-shape-round u-size-20 u-layout-cell-6" data-href="0000.focalboard.com" data-target="_blank">
                           <div class="u-border-1 u-border-palette-5-dark-3 u-container-layout u-container-layout-6">
                              <img class="u-image u-image-default u-preserve-proportions u-image-10" src="images/focal.png" alt="" data-image-width="1024" data-image-height="1024">
                              <p class="u-align-center u-text u-text-4">FocalBoard<br>
                              </p>
                           </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-opacity u-opacity-10 u-palette-1-base u-radius u-shape-round u-size-20 u-layout-cell-7" data-href="Filecloud.com" data-target="_blank">
                           <div class="u-border-1 u-border-palette-5-dark-3 u-container-layout u-container-layout-7">
                              <img class="u-image u-image-default u-preserve-proportions u-image-11" src="images/cloud.png" alt="" data-image-width="512" data-image-height="512">
                              <p class="u-align-center u-text u-text-5">FileCloud<br>
                              </p>
                           </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-opacity u-opacity-10 u-palette-1-base u-radius u-shape-round u-size-20 u-layout-cell-8" data-href="0000.jupyterlab.com" data-target="_blank">
                           <div class="u-border-1 u-border-palette-5-dark-3 u-container-layout u-container-layout-8">
                              <img class="u-image u-image-default u-preserve-proportions u-image-12" src="images/jupyter.png" alt="" data-image-width="883" data-image-height="1023">
                              <p class="u-align-center u-text u-text-6">JupyterLab<br>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </body>
</html>
