<!DOCTYPE html>
<html style="font-size: 16px;" lang="fr">
      <!-- head  -->
      <% include partials/head.ejs %>
      <!-- end head  -->
      
      <!-- header  -->
        <% include partials/header.ejs %>
      <!-- end header  -->

      <section class="u-black u-clearfix u-section-1" id="carousel_eb1b">
        <div class="u-clearfix u-sheet u-sheet-1">
           <div class="u-list u-list-1">
                 <div class="u-container-style u-list-item-2 u-opacity u-opacity-90 u-repeater-item ">
                     <img alt="" class="u-image u-image-circle u-list-item-3 u-image-1 u-container-layout-1" data-image-width="598" data-image-height="598" src="images/2.jpg" ></img>
                       <h6 class="u-text u-text-2"> <%= name %></h6>
                    </div>
                </div>
            </div>
         </div>
      </section>
            <!-- footer  -->
            <% include partials/footer.ejs %>
            <!-- end footer  -->
   </body>
</html>
