<!DOCTYPE html>
<html>

<% include partials/head.ejs %>

<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats -->
    <% include partials/header.ejs %>
    <!-- end header section -->
  </div>

  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Services
        </h2>
      </div>
    </div>
    <div class="container ">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="box ">
            <div class="img-box">
              <img src="images/gitlab.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Git lab
              </h4>
              <p>
                Generators on the Internet tend to repeat predefined chunks as necessary
              </p>
              <a href="">
                Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box ">
            <div class="img-box">
              <img src="images/focal.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Focal Board
              </h4>
              <p>
                Generators on the Internet tend to repeat predefined chunks as necessary
              </p>
              <a href="">
                Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 ">
          <div class="box ">
            <div class="img-box">
              <img src="images/mattermost.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Matter Most
              </h4>
              <p>
                Generators on the Internet tend to repeat predefined chunks as necessary
              </p>
              <a href="">
                Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box ">
            <div class="img-box">
              <img src="images/vscode.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                VS code
              </h4>
              <p>
                Generators on the Internet tend to repeat predefined chunks as necessary
              </p>
              <a href="localhost:3000">
                Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box ">
            <div class="img-box">
              <img src="images/jupyter.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Jupyter
              </h4>
              <p>
                Generators on the Internet tend to repeat predefined chunks as necessary
              </p>
              <a href="">
                Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box ">
            <div class="img-box">
              <img src="images/cloud.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Cloud
              </h4>
              <p>
                Generators on the Internet tend to repeat predefined chunks as necessary
              </p>
              <a href="">
                Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->


  <!-- info section -->
  <% include partials/info.ejs %>
  <!-- end info section -->


  <!-- footer section -->
  <% include partials/footer.ejs %>
  <!-- footer section -->

  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>


</body>

</html>